<footer>
  <div class="footer-area themeix-ptb">
      <div class="container">
          <div class="row">
              <div class="footer-wrapper">
                  <div class="col-sm-6 col-md-3">
                      <div class="single-footer">
                          <h3 class="footer-heading">About Us</h3>
                          <div class="single-footer-text">
                              <p>Vestibulum quis cursus mi, vitae mollis metus.Nulam eu lects gravida, bibendum enim in, vulputate erat. Vestibulum ullamcorper ornare magna</p>
                          </div>
                          <div class="social-links">
                              <ul>
                                  <li class="fa-github-alt"><a href="https://github.com/mariemhammami?tab=repositories"><i class="fa fa-github"></i></a></li>
                                  <li class="fb-link"><a href="https://www.facebook.com/hammamimariem"><i class="fa fa-facebook"></i></a></li>
                                  <li class="gp-link"><a href="hammamiamriem75@gmail.com"><i class="fa fa-google-plus"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                      <div class="single-footer">
                          <h3 class="footer-heading">Recent Products</h3>
                          <div class="footer-list">
                              <ul>
                                  <li><a target="_blank" href="https://themeforest.net/item/hostix-responsive-parallax-hosting-website-html5-template/19747783">Hostix</a></li>
                                  <li><a target="_blank" href="https://themeforest.net/item/cleanhost-responsive-web-hosting-html5-template/19950579">Cleanhost</a></li>
                                  <li><a target="_blank" href="https://themeforest.net/item/law-firm-lawyer-business-psd-template/19906137">Law Firm</a></li>
                                  <li><a target="_blank" href="https://themeforest.net/item/etube-video-blog-site-psd-template/19821837">eTube</a></li>
                                  <li><a href="#">Documenter</a></li>
                                  <li><a href="#">Spa Care</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                      <div class="single-footer">
                          <h3 class="footer-heading">get support</h3>
                          <div class="footer-list">
                              <ul>
                                  <li><a href="#">Our Forum</a></li>
                                  <li><a href="#">Facebook Page</a></li>
                                  <li><a href="#">Live Chat</a></li>
                                  <li><a href="#">Toll Free Number</a></li>
                                  <li><a href="#">Support Agent</a></li>
                                  <li><a href="#">Tickets</a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="col-sm-6 col-md-3">
                      <div class="single-footer">
                          <h3 class="footer-heading">get support</h3>
                          <p>Don’t miss our latest realeses and important updates</p>
                          <div class="subscribe-form">
                              <form action="#">
                                  <input type="email" name="subscribe" id="subscribe" class="form-control" placeholder="Email" required>
                                  <button type="submit" class="hover-bg">Go</button>
                              </form>
                              <span>We never do spam with you</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- Start Footer Bottom Area -->
  <div class="footer-bottom-area themeix-pb">
      <div class="container">
          <div class="row">
              <div class="col-sm-12">
                  <div class="footer-bottom">
                      <div class="footer-logo">
                          <a href="#"><img src="../../assets/images/footer-logo.png" alt="logo"></a>
                      </div>
                      <div class="footer-links">
                          <ul>
                              <li><a href="#">Privacy Policy</a></li>
                              <li><a href="#">Refund Policy</a></li>
                              <li><a href="#">Disclaimer</a></li>
                          </ul>
                      </div>
                      <div class="copyright-text">
                          <p>All content Documenter &copy; 2019 - All rights reserved. - Proudly made with <a href="https://www.linkedin.com/in/mariem-hammami-56401b88/">Mariem HAMMAMI</a></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- End Footer Bottom Area -->
  <!-- Start Scroll To Top -->
  <div class="scroll-top">
      <div class="scroll-icon">
          <i class="fa fa-angle-up"></i>
      </div>
  </div>
  <!-- End Scroll To Top -->
</footer>
