<div class="page-banner-area">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="page-title">
                  <h2>Question</h2>
                  <span class="sub-title"><a href="#">Home </a> / Questions page</span>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="question-area themeix-ptb">
  <div class="container">
      <div class="row">
          <!-- Start Question -->
          <div class="col-md-9">
              <div class="questions-wrapper">
                  <div class="dwqa-container">
                      <div class="dwqa-questions-archive">
                          <form id="dwqa-search" class="dwqa-search">
                              <input data-nonce="fc987a6f77" type="text" placeholder="What do you want to know?" name="qs" class="ui-autocomplete-input" autocomplete="off" required>
                              <button type="submit"><i class="fa fa-search"></i></button>
                          </form>

                          <div class="dwqa-questions-list">
                              <div class="dwqa-question-item dwqa-sticky" *ngFor="let i of sujet ">
                                  <header class="dwqa-question-title">
                                      <a [routerLink]="['/Answers',i.id]" routerLinkActive="router-link-active" >{{i.contenu_sujet}}</a>
                                  </header>
                                  <div class="dwqa-question-meta">
                                      <span class="dwqa-status dwqa-status-open" title="Open">Open</span>
                                      <span><a href="#">{{i.user.username}}</a> answered {{i.date| date}} ago</span>
                                      <span class="dwqa-question-category"> • <a href="#" rel="tag">{{i.categories.nom_categories}}</a></span>
                                  </div>
                                  <div class="dwqa-question-stats">

                                      <span class="dwqa-answers-count"><strong>{{i.commentaires.length}}</strong>answers</span>
                                      <span class="dwqa-votes-count"><strong>4</strong>votes</span>
                                  </div>
                              </div>






                          </div>
                          <div class="dwqa-questions-footer">
                              <div class="dwqa-pagination"><span class="dwqa-page-numbers dwqa-current">1</span><a class="dwqa-page-numbers" href="#">2</a><a class="dwqa-next dwqa-page-numbers" href="#">Next</a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</div>
