<div class="page-banner-area">
  <div class="container">
      <div class="row">
          <div class="col-md-12">
              <div class="page-title">
                  <h2>{{sujet.titre_sujet}}</h2>
                  <span class="sub-title"><a href="#">Home </a> / Answer</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- End Pages Banner Area -->
<!-- Start Answers Area -->
<div class="answers-area themeix-ptb">
  <div class="container">
      <div class="row">
          <div class="col-md-9">
              <div class="answers-wrapper">
                  <div class="dwqa-single-question">
                      <div class="dwqa-breadcrumbs">
                          <a href="#">Questions</a>
                          <span class="dwqa-sep"> › </span>
                          <a href="#">{{sujet.categories.forum.titre_forum}} : {{sujet.categories.nom_categories}}</a>
                          <span class="dwqa-sep"> › </span>
                          <span class="dwqa-current">{{sujet.titre_sujet}}</span>
                      </div>
                      <!-- Start Question Item -->
                      <div class="dwqa-question-item">
                          <div class="dwqa-question-vote">
                              <span class="dwqa-vote-count">1</span>
                              <a class="dwqa-vote dwqa-vote-up" href="#">Vote Up</a>
                              <a class="dwqa-vote dwqa-vote-down" href="#">Vote Down</a>
                          </div>
                          <div class="dwqa-question-meta">
                              <span>
                              <a href="#">
                              {{sujet.user.username}}
                              </a>
                              asked  {{sujet.date|date}}
                              </span>
                              <span class="dwqa-question-actions"></span>
                          </div>
                          <div class="dwqa-question-content">
                              <p>{{sujet.contenu_sujet}}</p>
                          </div>
                          <footer class="dwqa-question-footer">
                              <div class="dwqa-question-meta"></div>
                          </footer>


                      <!-- End Questions Ityem -->
                      <!-- Start Answer item -->
                      <div class="dwqa-answers">
                          <div class="dwqa-answers-title"><span>{{sujet.commentaires.length}} Answers</span></div>
                          <div class="dwqa-answers-list">
                              <div class="dwqa-answer-item dwqa-best-answer" id="answer-63">
                                     <div class="dwqa-comments">
                                      <div class="dwqa-comments-list">

                                          <div class="dwqa-comment" *ngFor="let i of  sujet.commentaires" >
                                              <div class="dwqa-comment-meta">
                                                  <a href="#"><img alt="author" src="images/author2.png" class="avatar avatar-16 photo" />{{i.user.username}}</a>
                                                  replied {{i.date| date }}
                                                  <div class="dwqa-comment-actions">
                                                  </div>
                                              </div>
                                              <p>Yub, I agree, it would make it so easy to clean up wasted space.
                                                  <br /> thanks
                                              </p>
                                          </div>
                                          <!-- #comment-## -->
                                      </div>
                                  </div>
                              </div>

                              <!-- End Answer item -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <!-- Start Blog Sidebar -->


          <!-- End Blog Sidebar -->
      </div>
  </div>
</div>
